<footer class="bg-light py-3 mt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item"><%= link_to 'Home', root_path, class: "text-decoration-none" %></li>
          <li class="list-inline-item"><%= link_to 'Projects', projects_path, class: "text-decoration-none" %></li>
          <li class="list-inline-item"><%= link_to "View Reports", reports_path, class: "text-decoration-none" %></li>
          <li class="list-inline-item"><a href="#About" class="text-decoration-none">About</a></li>
          <li class="list-inline-item"><a href="#Contact" class="text-decoration-none">Contact</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <p class="mb-0">&copy; <%= Time.now.year %> Nemwel Issue Tracker, Inc</p>
      </div>
    </div>
  </div>
</footer>
